//general
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1240px;
$max-width: 1366px;
$page-padding: 1rem;

// colors
$textgray: #424F61;
$textgray3: #8D929A;

$white: #ffffff;
$greyish: #bbbbbb;
$greyish2: #424F61;
$black: #000000;
$bg-color: #000000;

$border-radius: 4px;

// font
$semi-bold: 600;
