@use "./../../common/constants.scss" as const;

:host {
    display: block;

    .filters-container {
        max-width: const.$max-width;
        margin-inline: auto;
        background-color: const.$white;
        display: flex;
        flex-direction: row;
        padding: const.$page-padding;
        border-bottom: 1px solid const.$greyish2;

        > .filter-field {
            width: 100%;
            margin-inline: 1rem;

            ::ng-deep .p-calendar,
            ::ng-deep .p-multiselect {
                display: flex;
            }
        }

        .filter-title {
            display: flex;
        }

        .filter-title-input {
            padding-right: 2rem;
            width: 100%;
            display: flex;
        }

        .filter-title-clear {
            right: 0.5rem;
            cursor: pointer;
        }
    }
}

@media all and (max-width: const.$breakpoint-mobile) {
    :host {
        .filters-container {
            display: flex;
            flex-direction: column;
            .filter-field {
                padding: 1rem 0;
                margin: 0;
            }
            .filter-title-input {
                width: 100%;
            }
        }
    }
}
