@use "./../app/common/constants.scss" as const;

:host {
    .app-container {
        margin: 0;
        padding: 0;
        .app-header {
            display: block;
            margin-inline: auto;
            max-width: const.$max-width;
        }
    }
}
