@use "./../../common/constants.scss" as const;

:host {
    display: block;
    padding: const.$page-padding;

    .filters-container {
        max-width: const.$max-width;
        margin-inline: auto;
        background-color: const.$white;
        display: flex;
        flex-direction: row;

        .filter-title-input {
            padding-right: 2rem;
        }

        .filter-title-clear {
            right: 0.5rem;
            cursor: pointer;
        }

        .filters-clear {
            border: 1px const.$black;
            display: inline-flex;
            align-items: center;
        }
    }
}
